.cabecalho {
    background-image: url(imagens/img4.jpg);
    height: 150px;
}

.menu_itens {
    background-color: rgb(162, 133, 189);
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    display: grid;
}

.video{
    width: 80%;
    float: left;
}

.rodape {
    display: inline-block;
    background-color: blue;
    width: 100%;
}

.table, th, td, tr {
    border: 1px solid blue;
}