.container {
    background-color: rgb(162, 133, 189);
    width: 700px; 
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
}

.caixa {
    padding: 50px;
    margin: 10px;
    width: 120px;
    height: 70px;
    text-align: center;
    background-color: brown;
    order: 0;
    flex-grow: 1;
    align-self: center;
}